ㅤ
<b><emoji id="5469774158650942877">🤙</emoji> Модуль автоответчик на основе нейросети openrouter.ai. Created by Ladvix.</b>

<b><emoji id="5334544901428229844">🪄</emoji> Доступные команды</b>

<emoji id="5416117059207572332">▫</emoji> <code>.autoreply set_api_key { ваш ключ }</code> — Зарегистрировать API_KEY

<emoji id="5416117059207572332">▫</emoji> <code>.autoreply on { сценарий для автоответчика }</code> — Отправьте это сообщение в чат, к которому хотите привязать автоответчика

<emoji id="5416117059207572332">▫</emoji> <code>.autoreply off</code> — Отправьте это сообщение в чат, от которого хотите отвязать автоответчик
ㅤ
